# object files
*.o
*.hi
*.pyc

# build dirs
*.stack-work
.ropeproject
agents/*
build
.pack

# temporary files
*.swp
*.orig

# other
*dist
version
output
*.log
SocksFusion.zip
test/bench
src/Proxy.hs

# private files
res/privateKey.key
res/proxy.bbs.ptsecurity.com.pfx
